{{> header }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/deleteDepartment.js"></script>
<p>Current Departments within ER Hospital</p>

<form id="add-department-form" method="POST" action="/add-department-form">
    <fieldset>
        <legend>Create a Department</legend>
        <label for="departmentName">Department Name</label> </label>
        <input type="text" name="departmentName" id="departmentName">
        <label for="capacity">Capacity </label>
        <input type="number" name="capacity" id="capacity">
        <input type="submit">
    </fieldset>
</form>
{{!-- <form></form>
        <label for="departmentName">Department Name</label>
        <input type="text" id="departmentName" name="departmentName">
        <label for="capacity">Capacity</label>
        <input type="number" id="capacity" name="capacity">
        <br>
        <button>Add a new department</button> --}}
{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.departmentID}}</td>
            <td>{{this.departmentName}}</td>
            <td>{{this.capacity}}</td>
            <td><button onclick="deleteDepartment({{this.departmentID}})">Delete</button></td>
            <td><a>Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>