{{> header }}
<p>Current Departments within ER Hospital</p>

<script src="/static/js/deleteDepartment.js"></script>

<form id="add-department-form" method="POST" action="/creates/add-department-form">
    <fieldset>
        <legend>Create a Department</legend>
        <label for="departmentName">Department Name</label> </label>
        <input type="text" name="departmentName" id="departmentName">
        <label for="capacity">Capacity </label>
        <input type="number" name="capacity" id="capacity">
        <input type="submit">
    </fieldset>
</form>

<table id="department-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{>edit_delete_col_header}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.departmentID}}</td>
            <td>{{this.departmentName}}</td>
            <td>{{this.capacity}}</td>
            <td><button onclick="deleteDepartment({{this.departmentID}})">Delete</button></td>
            <td><a>Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>