{{> header }}
<p>Current Doctors at ER Hospital</p>

{{!-- <p>Create a doctor</p> --}}

<form id="add-doctor-form" method="POST" action="/creates/add-doctor-form">
    <fieldset>
        <legend>Create a Doctor</legend>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="departmentID">Department</label>

        <select name="departmentID" id="departmentID">
            <option value="">Select a Department</option>
                {{#each depts}}
            <option value="{{this.departmentID}}">{{this.departmentName}}</option>
                {{/each}}
        </select>

        <input type="submit">
    </fieldset>
</form>

<table id="Doctors">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.doctorID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.departmentID}}</td>
            <td><button>Delete</button></td>
            <td><a>Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>


