{{> header }}
<p>Current Doctors at ER Hospital</p>

<script src="/static/js/deleteDoctor.js"></script>

<form id="add-doctor-form" method="POST" action="/creates/add-doctor-form">
    <fieldset>
        <legend>Create a Doctor</legend>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="departmentID">Department</label>

        <select name="departmentID" id="departmentID">
            <option value="">Select a Department</option>
                {{#each depts}}
            <option value="{{this.departmentID}}">{{this.departmentName}}</option>
                {{/each}}
        </select>

        <input type="submit">
    </fieldset>
</form>

<table id="Doctors">
    <thead>
        <tr>
            <th>Doctor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department Name</th>
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.doctorID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.departmentID}}</td>
            <td><button onclick="deleteDoctor({{this.doctorID}})">Delete</button></td>
            <td>
                <a href="/reads/singleDoctor/{{this.doctorID}}">
                Update
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


