{{> header }}

<p>Create a connection between a patient and a medication</p>
    <label for="patientID"> patient ID</label>
    <input type="number" id="patientID" name="patientID">
    <label for="medID">med ID</label>
    <input type="number" id="medID" name="medID">
    <br>
    <button>Add connection between a patient and medication</button>

<p>MedPatients</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="MedPatients">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.patientID}}</td>
            <td>{{this.medID}}</td>
            <td>{{this.medName}}</td>
            <td><button>Delete</button></td>
            <td><a><u>Update</u></a></td>  
        </tr>
        {{/each}}
    </tbody>
</table>