{{> header }}
<p>Patients and the medications they are taking.</p>
<script src="/static/js/deleteMedPatient.js"></script>

<form id="add-medpatient-form" method="POST" action="/creates/add-medpatient-form">

    <fieldset>
        <legend>Add a connection between a patient and a medication</legend>

        <label for="patientID"> Patient Name</label>
        <select name="patientID" id="patientID">
            <option value="">Select a Patient</option>
                {{#each pats}}
            <option value="{{this.patientID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
        </select>

        <label for="medID">Medicine Name</label>
        <select name="medID" id="medID">
            <option value="">Select a Medication</option>
                {{#each meds}}
            <option value="{{this.medID}}">{{this.medName}}</option>
                {{/each}}
        </select>
        <input type="submit">
    </fieldset>
</form>

<table id="MedPatients">

    <thead>

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Patient ID</th>
            <th>Medication ID</th>
            <th>Medication Name</th>
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.patientID}}</td>
            <td>{{this.medID}}</td>
            <td>{{this.medName}}</td>
            <td><button onclick="deleteMedPatient({{this.medID}}, {{this.patientID}})">Delete</button></td>
            <td><a href="/reads/singleMedPatient/{{this.medID}}/{{this.patientID}}"><u>Update</u></a></td>  
        </tr>
        {{/each}}
    </tbody>
</table>