{{> header }}
<p>Patients and the medications they are taking.</p>

<form id="add-medpatient-form" method="POST" action="/add-medpatient-form">

    <fieldset>
        <legend>Add a connection between a patient and a medication</legend>

        <label for="patientID"> patient ID</label>
        <select name="patientID" id="patientID">
            <option value="">Select a Patient</option>
                {{#each pats}}
            <option value="{{this.patientID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
        </select>

        <label for="medID">med ID</label>
        <select name="medID" id="medID">
            <option value="">Select a Medication</option>
                {{#each meds}}
            <option value="{{this.medID}}">{{this.medName}}</option>
                {{/each}}
        </select>
        <input type="submit">
    </fieldset>
</form>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="MedPatients">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.patientID}}</td>
            <td>{{this.medID}}</td>
            <td>{{this.medName}}</td>
            <td><button>Delete</button></td>
            <td><a><u>Update</u></a></td>  
        </tr>
        {{/each}}
    </tbody>
</table>