{{> header }}
<p>Existing and Past Patients of ER Hospital</p>
<script src="/static/js/deletePatient.js"></script>

<form id="add-patient-form" method="POST" action="/creates/add-patient-form">
    <fieldset>
        <legend>Add a Patient</legend>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" name="birthdate">
        <label for="isAdmitted">Is admitted to hospital</label>
        <input type="checkbox" id="isAdmitted" name="isAdmitted">

        <label for="doctorID">Doctor ID</label>
        <select name="doctorID" id="doctorID">
            <option value="">Select a Doctor</option>
                {{#each docs}}
            <option value="{{this.doctorID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
        </select>

        <input type="submit">
    </fieldset>
</form>

<h2>Patients</h2>

    <form id="search-person-html" method='GET' action='/reads/search' style="display: inline;">
        <label for="input-lname">Search by Last Name: </label>
        <input type="text" name="lname" id="input-lname-html-search">
        <input type="submit">
    </form>
    <form action='/reads/patients' style="display: inline;">
        <input type="submit" value="Reset" />
    </form>
    
<table id="Patients">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            {{>edit_delete_col_header}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.patientID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.birthdate}}</td>
            <td>{{this.isAdmitted}}</td>
            <td>{{this.doctorID}}</td>
            <td><button onclick="deletePatient({{this.patientID}})">Delete</button></td>
            <td>
                <a href="/reads/singlePatient/{{this.patientID}}">
                    Update
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

