<p>Patients</p>
<p>Create a Patient</p>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" name="birthdate">
        <label for="isAdmitted">Is admitted to hospital</label>
        <input type="checkbox" id="isAdmitted" name="isAdmitted">
        <label for="doctorID">Doctor ID</label>
        <input type="number" id="doctorID" name="doctorID">
        <br>
        <button>Add a new patient</button>
{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="Patients">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.patientID}}</td>
            <td>{{this.doctorID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.birthdate}}</td>
            <td>{{this.isAdmitted}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>